.DS_Store
node_modules
package-lock.json
yarn.lock

public/*
!public/index.html
!public/global.css
!public/favicon.png
!public/icon.png
!public/manifest.json

# Service Worker
**/workbox*
**/sw*
.vercel
